* {
  padding: 0;
  margin: 0;

  color: hsl(0, 0%, 4%);
}

.container {
  margin: 20px;
}
.nav {
  margin: 30px 50px 70px;
  font-size: 46px;
  font-weight: 500;
  color: hsl(31, 32%, 70%);
}

.nav span {
  color: hsl(30, 36%, 23%);
  font-weight: 700;
}

.login,
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: fit-content;
  margin: 0 auto;
}

.login h2,
.register h2,
.addTodosh2 {
  color: hsl(30, 36%, 23%);
  text-align: center;
  margin: 10px 0;
}

.login button,
.register button,
.addTodos button {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  border: 1px solid hsl(30, 36%, 23%);
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(30, 36%, 23%);
  color: rgb(255, 255, 255);
  margin: 10px 0;
}

.login .or,
.register .or {
  text-align: center;
  color: hsl(30, 36%, 23%);
  font-weight: 400;
}
.login label,
.register label,
.addTodos label {
  display: block;
  margin: 10px 0;
}
.login input,
.register input {
  width: 96%;
  font-size: 12px;
  padding: 10px 2px;
  outline: none;
  border-radius: 5px;
  border: 1px solid hsl(30, 36%, 23%);
}
.login a,
.register a {
  color: hsl(30, 36%, 23%);
}

input::placeholder {
  width: 100%;
  height: 100%;
  background-color: hsl(31, 32%, 70%);
}

.todos-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  margin-top: -50px;
  padding: 0 40px;
}

.todos-nav h5 {
  color: hsl(30, 36%, 23%);
}

.todosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.acct button {
  padding: 5px;
  border: 1px solid hsl(30, 36%, 23%);
  border-radius: 2px;
  cursor: pointer;
  background-color: hsl(30, 36%, 23%);
  color: rgb(255, 255, 255);
}

.add {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 20vh;
}

.add button {
  padding: 10px;
  font-size: 15px;
}

.add button a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.todos {
  padding: 0;
  margin: 0;
  list-style: none;
}

.todos input{
  border:none;
  outline: none;
  font-size: 1.2rem;
}
.todos-list {
  border: 1px solid #e5e5e5;
  margin: auto;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  max-width: 100%;
  width: 365px;
  text-transform: capitalize;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.complete {
  border-left: 2px solid rgb(141, 101, 101);
}

.empty h3 {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}

.addTodos {
  display: flex;
  flex-direction: column;
}

.addTodos .check {
  width: 96%;
  font-size: 12px;
  padding: 10px 2px;
  outline: none;
  border-radius: 5px;
  border: 1px solid hsl(30, 36%, 23%);
}

.close {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
margin-bottom: 10px;

}

.close button {
  padding: 10px;
  font-size: 15px;
  background-color: hsl(30, 36%, 23%);
  border-radius:5px;
}

.close button a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

img{
  width: 20px;
  
}